@import "colors";


@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Gotham-Bold.otf") format("opentype"),
  url("../fonts/Gotham-Bold.svg") format("svg"),
  url("../fonts/Gotham-Bold.ttf") format("truetype"),
  url("../fonts/Gotham-Bold.woff") format("woff"),
  url("../fonts/Gotham-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/PlayfairDisplay-Italic.eot");
  src: url("../fonts/PlayfairDisplay-Italic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/PlayfairDisplay-Italic.otf") format("opentype"),
  url("../fonts/PlayfairDisplay-Italic.svg") format("svg"),
  url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
  url("../fonts/PlayfairDisplay-Italic.woff") format("woff"),
  url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/PlayfairDisplay-Regular.otf") format("opentype"),
  url("../fonts/PlayfairDisplay-Regular.svg") format("svg"),
  url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
  url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
  url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Light.otf") format("opentype"),
  url("../fonts/Roboto-Light.svg") format("svg"),
  url("../fonts/Roboto-Light.ttf") format("truetype"),
  url("../fonts/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab-Light";
  src: url("../fonts/RobotoSlab-Light.eot");
  src: url("../fonts/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RobotoSlab-Light.otf") format("opentype"),
  url("../fonts/RobotoSlab-Light.svg") format("svg"),
  url("../fonts/RobotoSlab-Light.ttf") format("truetype"),
  url("../fonts/RobotoSlab-Light.woff") format("woff"),
  url("../fonts/RobotoSlab-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular.eot");
  src: url("../fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RobotoSlab-Regular.otf") format("opentype"),
  url("../fonts/RobotoSlab-Regular.svg") format("svg"),
  url("../fonts/RobotoSlab-Regular.ttf") format("truetype"),
  url("../fonts/RobotoSlab-Regular.woff") format("woff"),
  url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: 'Roboto-Light', sans-serif;
}

h3 {
  font-size: 1.437rem;
}