@import "compass/css3/transition";
@import "colors";

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait {
    @media (max-width: 899px) { @content; }
  } @else if $size == tablet-landscape {
    @media (max-width: 1199px) { @content; }
  } @else if $size == desktop {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop {
    @media (min-width: 1800px) { @content; }
  }
}

.top-header {
  position: fixed;
  height: 8.312rem;
  width: 100%;
  z-index: 1;
  padding: 0 4.7rem;
  padding-top: 4.7rem;
  box-sizing: border-box;
  @include for-size(tablet-portrait) {
    height: 2rem;
  }

  .menu-list {
    float: right;
    @include for-size(tablet-portrait) {
      display: none;

    }
    a {
      display: inline;
      color: $text_secondary_color;
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0 1rem;

      &:hover {
        text-decoration: underline;

      }
    }
  }

  .rm-menu-dropdown {
    position: absolute;
    display: inline-block;
    right: 80px;
    top: 45px;

    @include for-size(tablet-portrait) {
      right: 2rem;
      top: 1rem;
    }

    .rm-menu-btn {
      height: 46px;
      width: 46px;
      background: transparent url("../img/menu-ico.png");
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;

      @include for-size(tablet-portrait) {
        visibility: visible;
        top: 2rem;
        opacity: 1;
        z-index: 3;
      }

      @include for-size(phone-only) {
        top: 5px;
        right: 10px;
        width: 2rem;
        height: 2rem;
      }
    }

    .dropdown-content {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      right: 45px;
      top: 0;
      z-index: 1;
      padding: 0 2rem;
      transition: all 0.3s ease-in-out 0.5s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

      a {
        display: block;
        width: 160px;
        height: 40px;
        background-color: rgba(25, 25, 25, 0.8);
        color: white;
        text-align: center;
        line-height: 35px;
        font-size: 1.25rem;

        &:hover {
          background-color: rgba(255, 255, 255, 0.8);
          color: #292929;
        }
      }
    }
  }

  .rm-menu-dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
  }
}


span.menu-logo {
  display: block;
  position: fixed;
  height: 128px;
  width: 428px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url("../img/menu-logo.png") no-repeat;
  background-size: contain;
  z-index: 2;

  @include for-size(tablet-portrait) {
    width: 350px;

  }
}




#first-section {
  background-image: url("../img/rm-sec-1-bg.jpg");

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    //position: absolute;
    background-color: rgba(0,0,0,0.57);
  }
}

#second-section {
  height: auto ;

  @include for-size(phone-only) {
    display: none;
  }

  #rm-video {
    display: block;
    min-width: 100%;
    height: auto;
    width: auto;
    max-height: 80vw;
  }
}

.section-container {
  width: 100%;
  padding: 3rem;
}

#third-section {
  background: url('../img/trebol-bg.png');
  text-align: center;
  //&:before {
  //  content: '';
  //  width: 110%;
  //  height: 150%;
  //  position: absolute;
  //  clear: both;
  //  background-color: rgba(255, 255, 255, 0.85);
  //}
}

h3.rm-titulo {
  margin: 0 auto;
  width: 14rem;
  font-family: 'Playfair Display', sans-serif;
  line-height: 2;
  text-transform: uppercase;
  color: $text_color_titles;
  text-align: center;
  margin-bottom: 2rem;

  &:after {
    display: block;
    content: '';
    width: auto;
    height:1px;
    border-bottom: 1px solid $secondary_color;
  }
}

#seccionProyecto {
  padding-top: 5rem;

  .proyecto-header {
    margin-top: 2rem;
    padding: 0 5rem;

    @include for-size(phone-only) {
      padding: 0;
    }

    a[aria-expanded=true] {
      pointer-events: none;

      &:after {
        display: block;
        content: '';
        width: 24px;
        height: 24px;
        margin: 0 auto;
        background-image: url("../img/angle-down.png");
        background-repeat: no-repeat;
        background-size: contain;

      }
    }

    img {
      width: auto;

      @include for-size(phone-only) {
        width: 60px;
      }
    }
  }

  .proyecto-content {
    margin-top: 2rem;
    background-color: #ffffff;
    padding: 4rem 2rem;
    height: auto;
    box-shadow: inset 0 0 18px rgba(120, 120, 120, 0.8);

    @include for-size(tablet-landscape) {
      padding: 2rem;
    }
  }
}

.separador {
  margin: 1rem 2rem;
  height: 1px;
  display: block;
  width: auto;
  border-top: 1px solid $secondary_color;

  @include for-size(phone-only) {
    margin: 0;
  }
}
.card-titulo {
  display: block;
  margin: 1rem;
  font-size: 1.125rem;
  font-family: 'PlayfairDisplay-Italic', sans-serif;
  color: $text_color_titles;

  @include  for-size(phone-only) {
    font-size: 0.8rem;
    margin: 1rem 0;
  }
}

.card-content {

  @include for-size(tablet-portrait) {
    div + div {
      margin-top: 2rem;
    }
  }

  #map {
    height: 30vw;
    width: 100%;

    @include for-size(tablet-portrait){ height: 50vw;}
  }

  img {
    padding: 1rem;
    @include for-size(tablet-portrait){
    }
  }

  h3.lamina-titulo {
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  h4.lamina-subtitulo {
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(78,78,78);
    text-transform: uppercase;
  }

  h5 {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    padding-top: 1rem ;
  }

  p {
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 0.5rem;
  }
}

.card-head {
  margin-bottom: 1.5rem;
}

#navContent {
  h3{color: rgb(217,108,71);}
  p{
    background-color: gray;
    color: white;
    margin: 0.2rem 0;
    padding: 0.5rem;
  }
}

#navConstruccion {
  h3{color: rgb(193,98,50);}
}

#navBioclima {
  h3{color: rgb(55,148,187)}
}

#navVientos {
  h3{color: rgb(186,95,95)}
}

#navVegetacion {
  h3{color: rgb(75,151,64)}
}

.rm-table {
  border-collapse: separate;
  border-spacing: 0 0.35rem;
  font-weight: bolder;
  font-family: arial, sans-serif;
  tr { margin: 0.4rem 0 }
  .bg-calido {background-color: #d07723;}
  .bg-templada {background-color: #5f9c37}
  .bg-fria {background-color: #3a94bb}
}




.gallery-column {
  display: block;
  float: left;
  padding-top: 2.5rem;

  .gallery-img {
    //display: block;
    float: left;
    overflow: hidden;

    &.item-1 {
      padding: 0 20px 20px 0;

      @include for-size(phone-only) {padding: 20px}
    }

    &.item-2 {
      float: right;
      text-align: right;
      padding: 0 0 0 20px;

      @include for-size(phone-only) {padding: 20px}
    }

    &.item-3 {
      padding: 20px 20px 0 0;

      @include for-size(phone-only) {padding: 20px}
    }

    &.img-sm {
      width: 25%;
      height: 25vw;
    }

    &.img-md {
      width: 50%;
      height: 25vw;

      @include for-size(phone-only) {
        width: 100%;
        height: auto;
      }
    }

    &.img-lg {
      width: 50%;
      height: 50vw;

      @include for-size(phone-only) {
        width: 100%;
        height: auto;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

  }

}

#fifth-section {
  margin: 5rem 0;
  .w-100 {
    margin: 1rem 0;
  }

  img.list-img {
    float: left;
    padding: 1rem;
    margin-right: 2.5rem;

    @include for-size(phone-only) {
      margin-right: 1rem;
    }
  }

  h3.list-title {
    color: $primary_color;
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 1.75rem;
  }

  p.list-text {
    font-family: 'Roboto-Light', sans-serif;
    color: $text_color;
    text-align: justify;
    line-height: 1.2;
    padding-right: 0.5rem;

  }

}

#sixth-section {
  background: url("../img/disponibilidad-bg.png") no-repeat;

  .disponibilidad-container {
    padding: 4rem 2rem 2rem 2rem;

    img {
      width: 100%;
    }
  }

  .contenedor-plano {
    padding-bottom: 80px;

    #plano {
      width: 100%;
      //height: 0;
      //padding-top: 867px/1075px *100px;
      //position: relative;
      //position: absolute;
      //top: 0;
      //left: 0;

      @media screen and (min-width: 899px) {
        height: 580px;
      }

      @media screen and (min-width: 1260px) {
        height: 620px;
      }

      @media screen and (min-width: 1320px) {
        height: 690px;
      }

      @media screen and (min-width: 1390px) {
        height: 720px;
      }

      @media screen and (min-width: 1460px) {
        height: 760px;
      }

      @media screen and (min-width: 1540px) {
        height: 780px;
      }

      @media screen and (min-width: 1600px) {
        height: 820px;
      }

      @media screen and (min-width: 1800px) {
        height: 840px;
      }

      svg {
        width: auto;

        @media screen and (min-width: 899px) {
          height: 580px;
        }

        @media screen and (min-width: 1260px) {
          height: 620px;
        }

        @media screen and (min-width: 1320px) {
          height: 690px;
        }

        @media screen and (min-width: 1390px) {
          height: 720px;
        }

        @media screen and (min-width: 1460px) {
          height: 760px;
        }

        @media screen and (min-width: 1540px) {
          height: 780px;
        }

        @media screen and (min-width: 1600px) {
          height: 820px;
        }

        @media screen and (min-width: 1800px) {
          height: 840px;
        }

        text {
          pointer-events: none;
        }
      }
    }

    .zonas-terrenos {
      margin: 40px 0 20px 0;

      @include for-size(big-desktop) {
        margin-top: 260px;
      }
      @include for-size(desktop) {
        margin-top: 260px;
      }

      ul {
        list-style: none;

        li {
          height: 30px;

          a {
            text-decoration: none;
            color: inherit;
            padding: 5px 5px 5px 0;
            display: inline-block;

            &:hover,
            &:active {
              color: rgb(81, 145, 95);
            }

            span {
              display: inline-block;
              margin-right: 8px;

              &.colorswatch {
                display: inline-block;
                width: 40px;
                height: 16px;
              }
            }
          }
        }
      }


      #opcion-zona-norte .colorswatch {
        background-color: #cf9e98;
      }
      #opcion-zona-sur .colorswatch {
        background-color: #d8c08c;
      }
      #opcion-zona-este .colorswatch {
        background-color: #add798;
      }
      #opcion-zona-oeste .colorswatch {
        background-color: #828c82;
      }
      #opcion-zona-centro1 .colorswatch {
        background-color: #d7cd91;
      }
      #opcion-zona-centro2 .colorswatch {
        background-color: #8fa3c1;
      }
      #opcion-zona-isla .colorswatch {
        background-color: #aaa3bd;
      }
    }

    #info-terreno {
      margin-top: 40px;
      padding: 20px;
      display: none;
      border: 1px solid rgba(0,0,0,0.2);
      background-color: rgba(0,0,0,0.1);
      border-radius: 8px;

      width: 100%;

      @media screen and (min-width: 1919px) {
        width: 70%;
      }


      dl {
        margin: 0;
      }

      dt {
        font-weight: bold;
        margin-bottom: 2px;
      }

      dd {
        margin-bottom: 7px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

#seventh-section {
  background: url("../img/trebol-bg.png");

  .contacto-container {
    padding: 4rem 2rem;
  }

  .form-text {
    font-family: "RobotoSlab-Light", sans-serif;
    color: $text_color;
  }

  .btn-rm-submit {
    font-family: "RobotoSlab-Light", sans-serif;
    background-color: #231f20;
    border-radius: 0;
    font-size: 1.25rem;
  }

}

#rm-form,
#contacto-form {
  font-family: 'RobotoSlab-Light', sans-serif;
  color: $text_color;

  .rm-input,
  .form-control {
    margin: 0.5rem 0;
  }
  .rm-submit-col {
    text-align: right;
  }
}

.form-group.is-invalid .invalid-feedback {
  display: block;
}

.form-control {
  &:focus {
    border-color: #97bfa0;
    box-shadow: 0 0 0 0.2rem rgba(84, 114, 89, 0.25);
  }
}
